<app-navbar></app-navbar>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Contact Us</h1>
      <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam, blanditiis alias ipsum, velit magnam sint exercitationem reprehenderit neque, tenetur quisquam optio. Sed vero autem debitis cupiditate quis illum eaque! Quos adipisci iure sunt dolore corrupti labore soluta minima. Illo blanditiis atque officiis voluptatum est fuga quos nihil quae, tenetur eius qui suscipit non, voluptas quidem corrupti similique libero. Quaerat doloribus minus, quam voluptates itaque, eaque animi tenetur doloremque placeat laborum similique ipsa delectus quasi perferendis. Voluptatem recusandae magni, obcaecati veniam doloremque laudantium beatae et fuga temporibus quae perferendis facilis maxime omnis placeat aliquid repudiandae impedit quasi iste veritatis voluptas!</p>
      <button class="btn btn-primary btn-lg" type="button">Contact</button>
    </div>
  </div>