<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Jupiter/sep/2022/KBHP_Desktop_Header_Phase_2_1500x300px.jpg"
                class="d-block w-100" alt="..." style="height:400px; object-fit: cover; object-position: 100% 0;">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Jupiter/sep/2022/Upto80_off-750x3007.jpg"
                class="d-block w-100" alt="..." style="height:400px; object-fit: cover; object-position: 100% 0;">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Jupiter/sep/2022/KBHP_PEO_Banner_3Month-KU-750X3001.jpg"
                class="d-block w-100" alt="..." style="height:400px; object-fit: cover; object-position: 100% 0;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>